/* GENERAL */

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    overflow-x: hidden;
}

p {
	font-size: 16px;
    margin: 25px 0px;
}

p span {
    font-style: italic;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #00789d;
}

.inline-flex {
    display: inline-flex;
}

.align-left {
    text-align: left;
}

/* NAVBAR */

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: 5px;
}

.navbar-brand {
    letter-spacing: 3px;
}

.navbar-nav li a:hover {
    color: #00789d !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #ffffff !important;
    background-color: #00789d;
}

.navbar-inverse .navbar-brand:hover {
    color: #00789d;
}

.navbar .insist {
    color: #ffffff !important;
}

ul.nav li.icon {
    display: none;
}

@media screen and (max-width:1000px) {
    ul.nav li {
        display: none;
    }
    ul.nav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:1000px) {
    .navbar-header {
        width: 50%;
    }
    .navbar-collapse {
        width: 50%;
        margin: 0;
    }
    .nav-container {
        display: flex;
    }
    ul.nav.responsive {
        position: relative;
    }
    ul.nav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav.responsive li {
        float: none;
        display: inline;
    }
    ul.nav.responsive li a {
        display: block;
        text-align: left;
    }
}

/* START SECTION */

.content-description {
    font-size: 13px;
}

.bg-top { 
	background: no-repeat center right fixed url(../assets/images/background.jpg);
	background-size: cover;
	text-align: -webkit-center;
	margin-bottom: 0px;
	padding-top: 10%;
    height: 100vh;
}

.h1-name {
	padding-bottom: 10px;
	border-bottom: 1px solid #ffffff;
    border-bottom-color: rgba(255,255,255,0.35);
	width: 30%;
    font-size: 2.45vw;
    margin-left: auto;
    margin-right: auto;
}

.image-profile-top {
	display: inline;
	width: 30%;
}

@media screen and (max-width:680px) {
    .h1-name {
        font-size: 3vw;
    }
    .image-profile-top {
        display: none;
    }
    .bg-top {
        padding-top: 40%;
    }
}

.citation-top {
    float: right;
    font-style: italic;
}

.citation-top-text {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 40px;
}

.citation-top-author {
    float: right;
    margin: 0;
    font-size: 12px;
}

/* SECTIONS */

.bg-white { 
    background-color: #ffffff;
    color: #555555;
}

.bg-dark { 
    background-color: #2d2d30;
    color: #ffffff;
}

.section-content {
    padding: 80px 0px;
}

.section-content h3 {
    font-weight: bold;
    padding: 0px 10px;
}

/* PROFILE SECTION */

.pics-profile {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}

@media screen and (max-width:1000px) {
    .pics-profile {
        border: 10px solid transparent;
        margin-bottom: 10px;
        width: 20%;
        height: 20%;
    }
}

.pics-profile:hover {
    border-color: #D3D3D3;
}

/* EDUCATION AND EXPERIENCES */

.bg-dark .experience {
    margin-bottom: 20px;
    border: 1px dashed white;
    border-color: rgba(255,255,255,0.35);
}

.bg-white .experience {
    margin-bottom: 20px;
    border: 1px dashed white;
    border-color: rgba(85,85,85,0.35);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}


@media screen and (max-width:1000px) {
    .row-eq-height {
        display: inherit;
    }
    .experience .experience-loc {
        margin-top: 20px !important;
    }
}

.vcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience .experience-loc {
    margin: 0;
}

.experience .experience-date {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 12px;
}

.experience .experience-title {
    text-decoration: underline;
    font-size: 19px;
}

.experience .experience-details {
    display: block;
    margin: 0 0;
    font-size: 12px;
}

.experience .experience-environment {
    display: block;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 14px;
}

.bg-dark .experience a {
    color: white;
}

.bg-dark .experience a:hover {
    color: #00789d;
}

.bg-white .experience a {
    color: #555555;
}

.bg-white .experience a:hover {
    color: #00789d;
}

.content-experiences {
    text-align: left;
}

/* SKILLS */

#skills-bars .col-sm-4 {
    padding-left: 50px;
    padding-right: 50px;
}

#skills .vertical-panels {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.panel {
    color: #555555;
}

.panel .panel-heading {
    color: #555555;
}

.panel-body p {
    margin: 0px 0px;
    font-weight: bold;
}

.panel-heading {
    padding: 0;
}

.panel-footer {
    padding: 0;
}

.panel-footer p {
    font-size: 13px;
}

#skills-bars .progress {
    position: relative;
    margin-bottom: 15px;
    height: 25px;
}

#skills-bars .progress:hover {
    box-shadow: 5px 5px 7px #888888;
}

#skills-bars .progress-bar {
    -webkit-transition: width 3.5s ease-in-out;
    transition: width 3.5s ease-in-out;
}

.progress .progress-name {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color:#ffffff;
    font-style: normal;
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.5);
}

.progress .progress-completion {
    position: absolute;
    right: 0px;
    font-weight: normal;
    font-style: normal;
    padding-right: 10px;
    font-size: 0.7em;
}

.panel #circles {
    display: inline-block;
}

.stars {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #00789d;
}

#skills .fa:hover {
    color: #555555;
}

/* PORTFOLIO */

.pics-portfolio {
    box-shadow: 5px 5px 7px #888888;
}

#portfolio .col-sm-4 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.effects .img {
    position: relative;
    width: 60%;
}

.effects .img img {
    max-width: 100%;
}

#slide-left .overlay {
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    text-align: center;
    position: absolute;
    background: rgba(0, 120, 157, 0.8);
    overflow: hidden;
    transition: all 1.5s;
}

#slide-left .img.hover .overlay {
    width: 100%;
}

a.expand {
    display: block;
    position: absolute;
    color: #ffffff;
    font-size: 0.75vw;
    top: 25px;
    left: 100px;
    width: 95%;
    right: 10px;
    opacity: 0;
    transition: all 1.5s;
}

#slide-left .img.hover a.expand.appears {
    opacity: 1;
    left: 10px;
}

.icon-git-portfolio {
    background: #00789d;
    z-index: 20;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    font-style: normal;
    color: #ffffff;
}

.icon-zoom-portfolio {
    background: #00789d;
    z-index: 20;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    font-style: normal;
    color: #ffffff;
    font-size: 0.8em;
}

.icon-git-portfolio .icon {
    padding-top: 10px;
    font-size: 1.5em;
}

.icon-zoom-portfolio .icon {
    padding-top: 7px;
    cursor:  pointer;
}

.text-modal {
    text-align: center;
    font-size: 12px;
    white-space: pre-line;
}

/* CONTACT */

#contact .phrase {
    padding-bottom: 30px;
    border-bottom: 1px solid #ffffff;
    border-bottom-color: rgba(255,255,255,0.35);
    width: 30%;
    margin-right: auto;
    margin-left: auto;
}

#contact .row-contact {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact h4 {
    padding: 0px 10px;
}

#contact .fa {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
}

#contact a {
    color: #ffffff;
}

#contact a:hover {
    color: #00789d;
    text-decoration: none;
}

.icon-details {
    padding-right: 10px;
}

#googleMap {
    height:500px;
    width:100%;
}

/* FOOTER */

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00789d;
}

#footer p {
    font-size: 12px;
    font-style: italic;
}