body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
	font-size: 16px;
    margin: 25px 0px;
}

em {
    font-style: normal;
    font-weight: bold;
    color: #00789d;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #00789d;
}

.inline-flex {
    display: inline-flex;
}

.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #00789d !important;
}

.navbar-inverse .navbar-brand:hover {
    color: #00789d;
}

.content-description {
    font-size: 13px;
}

.bg-top { 
	background: no-repeat center right fixed url(../assets/images/background.jpg);
	background-size: cover;
	text-align: -webkit-center;
	margin-bottom: 0px;
	padding-top: 15%;
    height: 100vh;
}

.h1-name {
	padding-bottom: 10px;
	border-bottom: 1px solid #ffffff;
    border-bottom-color: rgba(255,255,255,0.35);
	width: 30%;
}

.image-profile-top {
	display: inline;
	width: 300px;
}

.citation-top {
    float: right;
    font-style: italic;
}

.citation-top-text {
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 40px;
}

.citation-top-author {
    float: right;
    margin: 0;
    font-size: 12px;
}

.bg-white { 
    background-color: #ffffff;
    color: #555555;
}

.bg-dark { 
    background-color: #2d2d30;
    color: #ffffff;
}

.section-content {
    padding: 80px 0px;
}

.section-content span {
    font-style: italic;
}

.section-content h3 {
    font-weight: bold;
    padding: 0px 10px;
}

.pics-profile {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
}

.pics-profile:hover {
    border-color: #D3D3D3;
}

.bg-dark .experience {
    margin-bottom: 20px;
    border: 1px dashed white;
    border-color: rgba(255,255,255,0.35);
}

.bg-white .experience {
    margin-bottom: 20px;
    border: 1px dashed white;
    border-color: rgba(85,85,85,0.35);
}

.experience .experience-loc {
    margin-bottom: 0;
}

.experience .experience-date {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 12px;
}

.experience .experience-title {
    text-decoration: underline;
    font-size: 19px;
}

.experience .experience-details {
    display: block;
    margin: 0 0;
    font-size: 12px;
}

.experience .experience-environment {
    display: block;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 14px;
}

.bg-dark .experience a {
    color: white;
}

.bg-dark .experience a:hover {
    color: #00789d;
}

.bg-white .experience a {
    color: #555555;
}

.bg-white .experience a:hover {
    color: #00789d;
}

.content-experiences {
    text-align: left;
}

#skills-bars .col-sm-4 {
    padding-left: 50px;
    padding-right: 50px;
}

#skills .col-sm-6 {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
}

.panel {
    color: #555555;
}

.panel .panel-heading {
    color: #555555;
}

.panel-body p {
    margin: 0px 0px;
    font-weight: bold;
}

.panel-heading {
    padding: 0;
}

.panel-footer {
    padding: 0;
}

.panel-footer p {
    font-size: 13px;
}

#skills-bars .progress {
    position: relative;
    margin-bottom: 15px;
    height: 25px;
}

#skills-bars .progress:hover {
    box-shadow: 5px 5px 7px #888888;
}

#skills-bars .progress-bar {
    -webkit-transition: width 3.5s ease-in-out;
    transition: width 3.5s ease-in-out;
}

.progress .progress-name {
    position: absolute;
    left: 0px;
    padding: 0px 10px;
    color:#ffffff;
    font-style: normal;
    font-size: 0.7em;
    background-color: rgba(0, 0, 0, 0.5);
}

.progress .progress-completion {
    position: absolute;
    right: 0px;
    font-weight: normal;
    font-style: normal;
    padding-right: 10px;
    font-size: 0.7em;
}

.panel #circles {
    display: inline-block;
}

.pics-portfolio {
    width: 60%;
    height: 60%;
    box-shadow: 5px 5px 7px #888888;
}

#portfolio .col-sm-4 {
    margin-bottom: 30px;
}